.version.index {
    color: #0000F7;
    background-color: #963DE1;
}

.js body {
    visibility: hidden;
}

.js body.initialized {
    visibility: visible;
}

#page {
    width: 100%;
    border-color: #000000;
    z-index: 1;
    min-height: 854px;
    margin-left: auto;
    background-image: none;
    margin-right: auto;
    border-width: 0px;
    background-color: transparent;
}

#slideshowu7855 {
    margin-right: -10000px;
    width: 100%;
    z-index: 2;
    margin-top: 1px;
    position: relative;
}

#u7856 {
    position: absolute;
    background-color: transparent;
    height: 853px;
}

#u7856popup {
    margin-right: -10000px;
    z-index: 3;
    height: 853px;
}

#u7857 {
    margin-right: -10000px;
    border-color: transparent;
    z-index: 4;
    position: relative;
    border-width: 0px;
    background-color: transparent;
    height: 853px;
}

#u8290 {
    margin-right: -10000px;
    border-color: transparent;
    z-index: 6;
    position: relative;
    border-width: 0px;
    background-color: transparent;
    height: 853px;
}

.SSSlideLoading {
    background: url("../images/loading.gif?crc=3815509949") no-repeat center center;
}

#u720 {
    padding-bottom: 31px;
    box-shadow: 8px 0px 8px rgba(0, 0, 0, 0.25);
    z-index: 8;
    min-height: 66px;
    -pie-background: rgba(0, 0, 0, 0.5);
}

#u720_align_to_page {
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#menuu6287 {
    border-color: transparent;
    z-index: 9;
    border-radius: 100px;
    margin-top: 31px;
    position: relative;
    margin-right: -10000px;
    border-width: 0px;
    background-color: transparent;
}

#u6296:hover,
#u6296:active {
    transition-timing-function: ease-in;
    -webkit-transition-timing-function: ease-in;
    transition-delay: 0s;
    width: 100%;
    border-width: 0px;
    background-color: #304597;
    transition-duration: 0.2s;
    -webkit-transition-delay: 0s;
    min-height: 0px;
    -webkit-transition-duration: 0.2s;
    margin: 0px 0px 0px 0%;
}

.SSFirstButton,
.SSPreviousButton,
.SSNextButton,
.SSLastButton,
.SSSlideLink,
.SSCloseButton,
.MenuItem {
    cursor: pointer;
}

#menuu6478 {
    border-color: transparent;
    z-index: 15;
    border-radius: 100px;
    margin-top: 31px;
    position: relative;
    margin-right: -10000px;
    border-width: 0px;
    background-color: transparent;
}

#u6295,
#u6479 {
    min-height: 35px;
    margin-right: -10000px;
    background-color: transparent;
    position: relative;
}

#u6296,
#u6482 {
    transition-timing-function: ease;
    -webkit-transition-timing-function: ease;
    transition-delay: 0s;
    padding-bottom: 5px;
    background-image: url("../images/blank.gif?crc=4208392903");
    border-width: 2px;
    background-color: transparent;
    transition-duration: 0.1s;
    -webkit-transition-delay: 0s;
    border-color: #FFFFFF;
    border-radius: 100px;
    position: relative;
    width: 100%;
    border-style: solid;
    -webkit-transition-duration: 0.1s;
}

#u6482:hover {
    transition-timing-function: ease-in;
    -webkit-transition-timing-function: ease-in;
    transition-delay: 0s;
    width: 100%;
    border-width: 0px;
    background-color: #D71A1F;
    transition-duration: 0.2s;
    -webkit-transition-delay: 0s;
    min-height: 0px;
    -webkit-transition-duration: 0.2s;
    margin: 0px 0px 0px 0%;
}

#u6482:active {
    transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    transition-delay: 0s;
    width: 100%;
    border-width: 0px;
    background-color: #D71A1F;
    transition-duration: 0.2s;
    -webkit-transition-delay: 0s;
    min-height: 0px;
    -webkit-transition-duration: 0.2s;
    margin: 0px 0px 0px 0%;
}

#u6298,
#u6484 {
    background-position: center;
    top: 2px;
    margin-right: -10000px;
    position: relative;
    vertical-align: top;
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: 100%;
}

#u6296.MuseMenuActive #u6298,
#u6482.MuseMenuActive #u6484 {
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: 100%;
}

#u720-bw {
    z-index: 8;
    margin-top: 698px;
    min-height: 66px;
}

.css_verticalspacer .verticalspacer {
    height: calc(100vh - 854px);
}

.html {
    background-color: #FFFFFF;
}

body {
    position: relative;
}

@media (min-width: 1601px),
print {
    #muse_css_mq {
        background-color: #FFFFFF;
    }

    #bp_infinity.active {
        display: block;
    }

    #u7856,
    #u7856popup,
    #u7857,
    #u8290 {
        width: 1920px;
    }

    #u720 {
        background-color: #7F7F7F;
        background-color: rgba(0, 0, 0, 0.5);
    }

    #page,
    #u720_align_to_page {
        max-width: 1920px;
    }

    #menuu6287 {
        width: 14.48%;
        left: 25.79%;
    }

    #u6298 {
        background-image: url("../images/u6298.png?crc=241357291");
        width: 98.55%;
        left: 0.72%;
    }

    #u6296.MuseMenuActive #u6298 {
        background-image: url("../images/u6298-a.png?crc=4260956332");
    }

    #menuu6478 {
        width: 14.48%;
        left: 59.74%;
    }

    #u6295,
    #u6479 {
        width: 100%;
    }

    #u6484 {
        background-image: url("../images/u6484.png?crc=203360133");
        width: 98.55%;
        left: 0.72%;
    }

    #u6298 .fluid_height_spacer,
    #u6484 .fluid_height_spacer {
        padding-bottom: 9.62962962962963%;
    }

    #u6482.MuseMenuActive #u6484 {
        background-image: url("../images/u6484-a.png?crc=428377903");
    }
}

@media (max-width: 1600px) {
    #muse_css_mq {
        background-color: #000640;
    }

    #bp_1600.active {
        display: block;
    }

    #u7856,
    #u7856popup,
    #u7857,
    #u8290 {
        width: 1600px;
    }

    #u720 {
        background-color: #7F7F7F;
        background-color: rgba(0, 0, 0, 0.5);
    }

    #page,
    #u720_align_to_page {
        max-width: 1600px;
    }

    #menuu6287 {
        width: 14.5%;
        left: 25.82%;
    }

    #u6298 {
        background-image: url("../images/u62982.png?crc=4293966861");
        width: 98.24%;
        left: 0.87%;
    }

    #u6296.MuseMenuActive #u6298 {
        background-image: url("../images/u6298-a2.png?crc=4104354842");
    }

    #menuu6478 {
        width: 14.5%;
        left: 59.75%;
    }

    #u6295,
    #u6479 {
        width: 99.57%;
    }

    #u6484 {
        background-image: url("../images/u64842.png?crc=289697371");
        width: 98.24%;
        left: 0.87%;
    }

    #u6298 .fluid_height_spacer,
    #u6484 .fluid_height_spacer {
        padding-bottom: 11.659192825112108%;
    }

    #u6482.MuseMenuActive #u6484 {
        background-image: url("../images/u6484-a2.png?crc=182095651");
    }

    body {
        overflow-x: hidden;
        min-width: 320px;
    }
}